.mat-toolbar{
    display: block;
    background-color: rgba(165, 42, 42, 0.988);
    width: 100%;
    height: 60px; 
    min-height: 60px;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.mat-toolbar .mat-toolbar-row {
    height: 60px; 
    min-height: 60px; 
    align-items: center;
    justify-content: center;
}

.book{
    display: flex;
    margin-left: -20px;
    gap: 5px;
}

.b-img{
    height: 25px;
    margin-top: 4px;
}

.b-name{
    color: white;
    font-weight: 360;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px thistle #ccc;
    border-radius: 4px;
    background-color:white;
    box-shadow:  0 2px 3px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 35%;
    margin-left: 60px;
}

.search-box input {
    background: none;
    border: none;
    outline: none;
    font: normal 15px Google Sans, Roboto, Helvetica, Arial, sans-serif;
}

.end{
    display: flex;
    margin-left: 250px;
    margin-top: 30px;
    gap: 70px;
}

.profile{
    filter: invert(100%) brightness(200%);
    height: 20px;
    width: 20px;
    margin-left: 4px;
}

.cart{
    filter: invert(100%) brightness(200%);
    height: 20px;
    width: 20px;
}

.end p{
    color: white;
    font-size: 10px; 
    margin-top:-13px;
}

.dialog{
  margin-top: 30px;
  margin-left:1100px;
  height: 150px;
  width:230px;
  border:none;
  border: 2px solid rgb(251,249,249) ;
  border-radius: 10px;
  background: white;
  padding: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.title{
    font-size: 14px;
    font-weight: 550;
} 

.content{
    font-size: 13px;
    color: #a6a6a6;
    margin-top: -10px;
}

.button1{
    height:35px;
    width:130px;
    margin-top: -10px;
    margin-bottom: 5px; 
    border-radius: 4px;
    border-color: brown; 
    color: brown; 
    background: none;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 550;
    cursor: pointer;
}

.list{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    margin-top: 5px;
    gap: 10px;
}

.list img{
    margin-top: -10px;
    height: 15px;
    width: 15px;
}

.list p{
    font-size: 13px;
    color: #a6a6a6;
}

.person{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: -15px;
    cursor: pointer;
}

.person img{
    height: 20px;
    width: 20px;
    margin-bottom: 20px;
}

.person p{
    font-size: 13px;
    color: #a6a6a6;
}

.button2{
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    border:1px solid #A03037;
    color: #A03037;
    padding: 4px 20px;
    margin-bottom: 7px;  
    background: none;
    cursor: pointer;
}
