<div class="container">
    <div class="image">
        <img src="assets/ordersuccess.png">
    </div>

    <div class="text">
        <div class="first" style="padding-left: 37px;">
            hurray!!! your order is confirmed
        </div>
        <div>
            the order id is #123456 save the order id for 
        </div>
        <div style=" padding-left: 55px; padding-bottom: 25px;">
            further communication..
        </div>
    </div>
    
    <div class="address">
        <div style="padding-right: 200px; padding-left: 100px;">
            Email us
        </div>
        <div style=" padding-right: 250px;">
            Contact us
        </div>
        <div>
            Address
        </div>
    </div>
    
    <div class="data"> 
        <div class="email">
            <span>admin&#64;bookstore.com </span> 
        </div>
        <div class="contact">
            <span>+91</span>6303307952 
        </div>
        <div class="Address">
            <span>svs traders ,near ramalayam,kavali,andhra pradesh,524421.</span>
        </div>
    </div>
    
    <div class="button">
        <button (click)="goToHome()">CONTINUE SHOPPING</button>
    </div>   
</div>
